In [29]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

## Series
#### Series는 value와 index를 가진 일차원 인덱스 구조이다.
#### index는 디폴트로 0부터 순차 증가하는 값이다

In [30]:
#Series 생성
obj = Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [31]:
#value 확인
obj.values

array([ 4,  7, -5,  3])

In [32]:
#index 확인
obj.index

RangeIndex(start=0, stop=4, step=1)

In [34]:
#Series생성 with index 지정
obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [36]:
#사용자 정의로 만들어진 index확인
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [38]:
#특정 index 접근시 index값을 사용하여 접근한다.
obj2['a']

-5

In [39]:
#특정 index의 위치에 값할당은 index값을 사용하여 할당한다.
obj2['a'] = -2
obj2['a']

-2

In [40]:
#value에 대한 filter는 index대신 Series객체에 수식을 설정해준다. (모든 값들에 해당 논리식 적용)
obj2[obj2 > 3]

d    4
b    7
dtype: int64

In [41]:
#Series 객체에 대한 산술연산은 value 모두에 적용된다.
obj2 * 2

d     8
b    14
a    -4
c     6
dtype: int64

In [42]:
#dictionary객체와 같이 index값(key값)에 대한 연산을 수행할수 있다.
'x' in obj2

False

#### dictionary 객체를 Series객체로 전환시 key값이 index로 설정된다.

In [45]:
# dictionary 객체를 Series객체로 전환
sdata = {'Ohio' : 35000, 'Texas' : 71000, 'Oregon' : 16000, 'Utah' : 5000}
obj3 = Series(sdata)
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [49]:
#사용자 지정 index값 + dictionary객체로 Series객체 생성
#키값에 매핑되지 않는 index는 NaN(Not a Number)값으로 Set된다. 
states = ['Califonia', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index=states)
obj4

Califonia        NaN
Ohio         35000.0
Oregon       16000.0
Texas        71000.0
dtype: float64

In [52]:
#isnull, notnull 함수를 이용하여, True/False 마스킹 가능
obj4.isnull()
obj4.notnull()

Califonia    False
Ohio          True
Oregon        True
Texas         True
dtype: bool

In [54]:
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [55]:
obj4

Califonia        NaN
Ohio         35000.0
Oregon       16000.0
Texas        71000.0
dtype: float64

In [57]:
#Series간 산술연산은 full join이며, value에 대한 산술연산을 수행한다.
#단, 어느한쪽에라도 NaN값이 있는경우 값은 NaN이된다.
obj3 + obj4

Califonia         NaN
Ohio          70000.0
Oregon        32000.0
Texas        142000.0
Utah              NaN
dtype: float64

In [59]:
#Series 객체는 자체에 대한 name과 index에 대한 name을 가지고 있다.
obj4.name = 'population'
obj4.index.name = 'state'
obj4

state
Califonia        NaN
Ohio         35000.0
Oregon       16000.0
Texas        71000.0
Name: population, dtype: float64

In [61]:
#index값의 변경은 배열을 통해 가능하다.
obj4.index = ['서울', '대전', '대구', '부산']
obj4

서울        NaN
대전    35000.0
대구    16000.0
부산    71000.0
Name: population, dtype: float64