In [2]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [5]:
frame = DataFrame(
    np.random.randn(4, 3), 
    columns=list('bde'), 
    index=['Utah', 'Ohio', 'Texas', 'Oregon']
)
frame

               b         d         e
Utah   -2.306395  0.039505  0.347532
Ohio    0.507984 -1.451179 -2.343658
Texas  -0.292926 -1.979824 -0.408667
Oregon  0.175995  0.911242 -0.114561

In [8]:
np.abs(frame)

               b         d         e
Utah    2.306395  0.039505  0.347532
Ohio    0.507984  1.451179  2.343658
Texas   0.292926  1.979824  0.408667
Oregon  0.175995  0.911242  0.114561

In [13]:
f = lambda x : x.max() - x.min()

In [14]:
frame.apply(f)

b    2.814379
d    2.891066
e    2.691191
dtype: float64

In [15]:
frame.apply(f, axis=1)

Utah      2.653928
Ohio      2.851642
Texas     1.686898
Oregon    1.025803
dtype: float64

In [16]:
def f(x) :
    return Series([x.min(), x.max()], index=['min', 'max'])

In [23]:
#배열의 축으로 적용
frame.apply(f)

            b         d         e
min -2.306395 -1.979824 -2.343658
max  0.507984  0.911242  0.347532

In [20]:
format = lambda x : '%.2f' % x

In [24]:
#배열의 각 원소에 적용
frame.applymap(format)

            b      d      e
Utah    -2.31   0.04   0.35
Ohio     0.51  -1.45  -2.34
Texas   -0.29  -1.98  -0.41
Oregon   0.18   0.91  -0.11

In [25]:
frame['e'].map(format)

Utah       0.35
Ohio      -2.34
Texas     -0.41
Oregon    -0.11
Name: e, dtype: object